* {
    font-family: 'Helvetica', 'Arial', sans-serif;

}

body{
   background-color: #FBF3D1
}

h1, h2 {
    text-align:center;
}

li {
    list-style-type: none;
}

a {
    color:#3c3c3c;
    text-decoration: none;
}

#root {
    display: flex;
    color:#604652;
}

#main {
    width:70%
}

#side-left {
    width:30%
}